.change-password-section {
    padding-top: 40px;
}

.section-top {
    margin-bottom: 28px;
}

.change-password-box {
    background: #FFFFFF;
    border-radius: 3.5px;
    padding: 21px 50px 30px 40px;
}

.formgroup-area {
    margin-bottom: 20px;
}

.form-submit-btn {
    margin-top: 10px;
    padding: 8.5px 19px;
    min-width: auto;
}

.form-submit-btn {
    margin-top: 10px;
}

.form-label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 22px;
    color: #454545;
    display: inline-block;
    margin-bottom: 10px;
}

.dash-form-input,
.dash-form-input::placeholder {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 22px;
    color: rgba(38, 38, 38, 0.75);
}

.dash-form-input {
    padding: 14px 12px;
    height: auto;
}

/*  */

.inquiry-cc-box {
    padding: 25px 40px 27px;
    background: #FFFFFF;
    border-radius: 3.5px;
}

.mail-icon {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.inquiry-cc-box .top-bar {
    margin: 16px 0 25px;
    opacity: 0.3;
    border-color: black;
}

.inquiry-cc-label {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 23px;
    color: #7E868D;
    margin-bottom: 19px;
    display: block;
}

.inquiry-cc-label span {
    color: #D61119;
}


.inquiry-cc-box .dash-form-input {
    padding: 12px 12px;
    max-width: 510px;
}

.inquiry-cc-box .formgroup-area {
    margin-bottom: 11px;
}

.inquiry-cc-box .sm-para {
    color: #7E868D;
}

.btm-bar {
    margin: 7px 0 19px;
    opacity: 0.3;
    border-color: black;
}