.flg-1 {
    background-image: url("../images/country-flag/flg-1.png");
}
.flg-2 {
    background-image: url("../images/country-flag/flg-2.png");
}
.flg-3 {
    background-image: url("../images/country-flag/flg-3.png");
}
.flg-4 {
    background-image: url("../images/country-flag/flg-4.png");
}
.flg-5 {
    background-image: url("../images/country-flag/flg-5.png");
}
.flg-6 {
    background-image: url("../images/country-flag/flg-6.png");
}
.flg-7 {
    background-image: url("../images/country-flag/flg-7.png");
}
.flg-8 {
    background-image: url("../images/country-flag/flg-8.png");
}
.flg-9 {
    background-image: url("../images/country-flag/flg-9.png");
}
.flg-10 {
    background-image: url("../images/country-flag/flg-10.png");
}
.flg-11 {
    background-image: url("../images/country-flag/flg-11.png");
}
.flg-12 {
    background-image: url("../images/country-flag/flg-12.png");
}