.social-profile-section {
    padding-top: 40px;
}

.section-top {
    margin-bottom: 24px;
}

.social-profile-box {
    padding: 20px 140px 50px 18px;
    background: #FFFFFF;
    border-radius: 3.5px;
}

.social-profile-box .sm-title {
    margin-bottom: 30px;
}

.pro-form-label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 16px;
    color: #7E868D;
}

.profile-group-img-area {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 13px;
    margin-bottom: 14px;
}

.profile-group-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.social-profile-input {
    background: rgba(217, 217, 217, 0.3);
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
}

.social-profile-input,
.social-profile-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14px;
    color: #7E868D;
}

.profile-group-box {
    margin-bottom: 36px;
}

.row.gutterX-27px {
    --bs-gutter-x: 27px;
}

button.form-submit-btn {
    margin-top: 45px;
}